---
import Layout from "../../../layouts/Layout.astro";
---

<Layout title=".space">
  <main class="flex flex-1 justify-center items-center">
    <canvas id="canvas" class="w-[80vw] h-[80vh] bg-secondary rounded-md"> </canvas>
  </main>
</Layout>

