---
import Layout from '../layouts/Layout.astro';
import GameList from '../components/GameList.astro';
---

<Layout title="MiniPlayers - Página web de minijuegos">
	<main class="w-[50vw] flex flex-wrap gap-10 justify-center">
		<GameList />
	</main>
</Layout>
