---
import Layout from '../layouts/Layout.astro';
import GameList from '../components/GameList.astro';
---

<Layout title="MiniPlayers - Página web de minijuegos">
	<main class="max-w-[900px] w-full mx-auto flex gap-10 justify-center items-center h-full">
		<GameList />
	</main>
</Layout>
