---
import Layout from '@/layouts/Layout.astro';
---

<Layout title="Términos y Condiciones - MiniPlayers">
  <div class="max-w-3xl mx-auto p-8 bg-white dark:bg-gray-800 rounded-lg shadow-md mt-10 mb-10">
    <h1 class="text-3xl font-bold mb-6 text-gray-900 dark:text-white">Términos y Condiciones</h1>
    
    <div class="prose dark:prose-invert">
      <p>Bienvenido a MiniPlayers. Estos términos y condiciones describen las reglas y regulaciones para el uso del sitio web de MiniPlayers.</p>

      <h2 class="text-xl font-semibold mt-4 mb-2">Cookies</h2>
      <p>Empleamos el uso de cookies. Al acceder a MiniPlayers, usted acordó utilizar cookies de acuerdo con la Política de Privacidad de MiniPlayers.</p>

      <h2 class="text-xl font-semibold mt-4 mb-2">Licencia</h2>
      <p>A menos que se indique lo contrario, MiniPlayers y/o sus licenciantes poseen los derechos de propiedad intelectual de todo el material en MiniPlayers. Todos los derechos de propiedad intelectual están reservados. Puede acceder a esto desde MiniPlayers para su uso personal sujeto a las restricciones establecidas en estos términos y condiciones.</p>

      <h2 class="text-xl font-semibold mt-4 mb-2">Usted no debe:</h2>
      <ul class="list-disc list-inside mb-4 text-gray-700 dark:text-gray-300">
        <li>Republicar material de MiniPlayers</li>
        <li>Vender, alquilar o sublicenciar material de MiniPlayers</li>
        <li>Reproducir, duplicar o copiar material de MiniPlayers</li>
        <li>Redistribuir contenido de MiniPlayers</li>
      </ul>

      <h2 class="text-xl font-semibold mt-4 mb-2">Exención de responsabilidad</h2>
      <p>En la medida máxima permitida por la ley aplicable, excluimos todas las representaciones, garantías y condiciones relacionadas con nuestro sitio web y el uso de este sitio web.</p>
    </div>
  </div>
</Layout>
