---
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Página web de minijuegos hechos con JS" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<slot />
	</body>
</html>
<style is:global>
	:root {
		--primary-color: #3C486B;
		--secondary-color: #F0F0F0;
		--terciary-color: #F9D949;
		--accent-color: #F45050;
	}
	html {
		font-family: system-ui, sans-serif;
		background: var(--primary-color);
		background-size: 224px;
	}
</style>
