---
import "../styles/global.css";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Página web de minijuegos hechos con JS" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.webp" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <script
      async
      src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-3615553983953486"
      crossorigin="anonymous"></script>
  </head>
  <body class="h-screen w-full">
    <header class="absolute top-0 w-full flex justify-center">
      <nav class="max-w-[900px] w-full flex justify-between items-center py-2">
        <a href="/" class="flex gap-6 items-center justify-center">
          <img src="/images/logo.webp" alt="Mini Players" class="w-14 h-14" />
          <h1 class="text-3xl">Bienvenido a Mini Players</h1>
        </a>
        <div class="relative w-[300px]">
          <div
            class="absolute inset-y-0 start-0 flex items-center ps-3.5 pointer-events-none"
          >
            <span class="icon-[material-symbols--search]"></span>
          </div>
          <input
            type="text"
            id="input-group-1"
            class="h-8 bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full ps-10 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
            placeholder="Buscar"
            onkeydown="if(event.key==='Enter'){window.location.href='/?search='+encodeURIComponent(this.value);}"
            value={new URLSearchParams(Astro.url.search).get("search") ?? ""}
          />
        </div>
      </nav>
    </header>
    <section class="grid grid-cols-[1fr_4fr_1fr] w-full h-full p-20">
      <aside>
        <script
          async
          src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-3615553983953486"
          crossorigin="anonymous"></script>
        <!-- Banner Vertical 1 -->
        <ins
          class="adsbygoogle"
          style="display:block"
          data-ad-client="ca-pub-3615553983953486"
          data-ad-slot="6851332810"
          data-ad-format="auto"
          data-full-width-responsive="true"></ins>
        <script defer>
          (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
      </aside>

      <main
        class="flex justify-center items-center"
      >
        <slot />
      </main>
      <aside>
        <script
          async
          src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-3615553983953486"
          crossorigin="anonymous"></script>
        <!-- Banner Vertical 2 -->
        <ins
          class="adsbygoogle"
          style="display:block"
          data-ad-client="ca-pub-3615553983953486"
          data-ad-slot="9285924461"
          data-ad-format="auto"
          data-full-width-responsive="true"></ins>
        <script defer>
          (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
      </aside>
    </section>
    <footer
      class="absolute bottom-0 w-full justify-center mt-14 p-6 h-20 bg-gray-900 text-white"
    >
      <div class="flex items-center gap-2 justify-between">
        <span
          >Proyecto en <a
            href="https://github.com/tu-usuario/mini-players"
            class="underline hover:text-blue-400"
            target="_blank">GitHub</a
          ></span
        >
        <div class="flex gap-4">
          <a
            href="https://www.linkedin.com/in/daniel-marchena-jim%C3%A9nez/"
            class="underline hover:text-blue-400"
            target="_blank"
          >
            <span class="icon-[mdi--linkedin]"></span>
          </a>
          <a
            href="https://github.com/Mininh1206"
            class="underline hover:text-blue-400"
            target="_blank"
          >
            <span class="icon-[mdi--github]"></span>
          </a>
        </div>
      </div>
    </footer>
  </body>
</html>
